/*
 *
 *
 GLOBAL ELEMENTS
 *
 *
 */

html {
   height: 100%;
   background-color: purple;
   text-rendering: optimizeLegibility;
   color: #333;
   font-family: "Roboto",sans-serif;
   min-width: 530px; /* needs to be min supported width + grid passing */
}

body {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

main {

}

.mera-btn {
  cursor: pointer;
  padding: 5px 10px;
  color: white;
  background-color: pink;
  box-shadow: 0 1px 1.5px 0 rgba(0,0,0,0.12), 0 1px 1px 0 rgba(0,0,0,0.24);
}
.mera-btn:hover {
  background-color: purple;
}

.mera-btn-group > .mera-btn {
  display: inline-block;
}
.mera-btn-group > .mera-btn:not(:last-child) {
  margin-right: 15px;
}


/*
 *
 *
SELECTORS
 *
 *
 */

#loading {
  /* loading holder for page */
  position: absolute;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  text-align: center;
}

.mc-container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1080px;
}

.ctrlBtn {
  padding: 10px;
  background-color: white;
}
/* edit controls */
#mera-edit-settings {
  position: fixed;
  top: 15px;
  right: 30px;
  z-index: 100;
}


/* settings tray */

.mera-settings-tray {
  position: absolute;
  z-index: 1000;
  height: 100%;
  width: 400px;
  opacity: 1;
  left: 0;
  background-color: white;
  border-right: 1px solid black;
}
.mera-settings-tray.collapsed {
  left: -360px;
  opacity: 0;
}

#mera-settings-menu {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 24px;
  height: 24px;
}

.mera-settings_item {
  height: 40px;
  padding: 15px;
  border-bottom: 1px solid #
}

/* add widget */

.fab {
  position: fixed;
  color: white;
  z-index: 1000;
  bottom: 10px;
  right: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: cyan;
  justify-content: center;
}
.fab.opened {
  width: 200px;
  border-radius: 0;
  bottom: 0;
  right: 0;
}

.mera-material-list {
  height: auto;
  background: white;
  box-shadow: 1px;
}
.mera-material-list > li {
  height: 30px;
  padding: 10px 15px;
  cursor: pointer;
  color: #595959;
}
.mera-material-list > li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.mera-material-list > li:hover {
  background-color: #595959;
  color: white;
}

#mc-pick-tiles {
  /* TODO: make material card */
  position: fixed;
  bottom: -200px;
  right: 0;
  opacity: 0;
  width: 200px;
}
#mc-pick-tiles.opened {
  bottom: 40px;
  opacity: 1;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: black;
  opacity: .6;
  z-index: 101;
}


/* edit mode classes */

.tile.edit-mode {
  opacity: 1;
}

.tile.edit-mode[mera-class="link"] > input {
  display: block;
  opacity : 1;
  color: rgb(32, 32, 32);
}


/* helper classes */

.center {
  margin: 0 auto;
  float: none !important;
}

.mc-right {
  float: right !important;
}

.mc-left {
  float: left !important;
}

.hidden {
  display: none !important;
}

.flex-block {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
}

.animate {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.animate.animate-fast {
  -webkit-transition-duration: .15s;
  -moz-transition-duration: .15s;
  -o-transition-duration: .15s;
  -ms-transition-duration: .15s;
  transition-duration: .15s;
}
.animate.animate-slow {
  -webkit-transition-duration: .45s;
  -moz-transition-duration: .45s;
  -o-transition-duration: .45s;
  -ms-transition-duration: .45s;
  transition-duration: .45s;
}
/*
 *
 *
 TILE GRID
 *
 *
 */

 #mc-tiles {
   text-align: center;
 }

.tile {
  background: #DDD none repeat scroll 0% 0%;
  cursor: pointer;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 2px 3px rgba(0,0,0,.05);
  -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.05);
  box-shadow: 0 2px 3px rgba(0,0,0,.05);
}

.tile * {
  margin : 0;
}

.tile > a {
  text-decoration: none;
  color: #555;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.tile > a:hover {
  color: #dd1100;
}

.tile-main {
  flex-grow: 1;
  border-bottom: 1px solid white;
}

.tile-descr {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

 .gridster {
     position:relative;
 }

 .gridster > * {
     margin: 0 auto;
     -webkit-transition: height .4s, width .4s;
     -moz-transition: height .4s, width .4s;
     -o-transition: height .4s, width .4s;
     -ms-transition: height .4s, width .4s;
     transition: height .4s, width .4s;
 }

 .gridster .gs-w {
     z-index: 2;
     position: absolute;
 }

 .ready .gs-w:not(.preview-holder) {
     -webkit-transition: opacity .3s, left .3s, top .3s;
     -moz-transition: opacity .3s, left .3s, top .3s;
     -o-transition: opacity .3s, left .3s, top .3s;
     transition: opacity .3s, left .3s, top .3s;
 }

 .ready .gs-w:not(.preview-holder),
 .ready .resize-preview-holder {
     -webkit-transition: opacity .3s, left .3s, top .3s, width .3s, height .3s;
     -moz-transition: opacity .3s, left .3s, top .3s, width .3s, height .3s;
     -o-transition: opacity .3s, left .3s, top .3s, width .3s, height .3s;
     transition: opacity .3s, left .3s, top .3s, width .3s, height .3s;
 }

 .gridster .preview-holder {
     z-index: 1;
     position: absolute;
     background-color: cyan;
     border-color: #fff;
     opacity: 0.3;
 }

 .gridster .player-revert {
     z-index: 10!important;
     -webkit-transition: left .3s, top .3s!important;
     -moz-transition: left .3s, top .3s!important;
     -o-transition: left .3s, top .3s!important;
     transition:  left .3s, top .3s!important;
 }

 .gridster .dragging,
 .gridster .resizing {
     z-index: 10!important;
     -webkit-transition: all 0s !important;
     -moz-transition: all 0s !important;
     -o-transition: all 0s !important;
     transition: all 0s !important;
 }


 .gs-resize-handle {
     position: absolute;
     z-index: 1;
 }

 .gs-resize-handle-both {
     width: 20px;
     height: 20px;
     bottom: -8px;
     right: -8px;
     background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pg08IS0tIEdlbmVyYXRvcjogQWRvYmUgRmlyZXdvcmtzIENTNiwgRXhwb3J0IFNWRyBFeHRlbnNpb24gYnkgQWFyb24gQmVhbGwgKGh0dHA6Ly9maXJld29ya3MuYWJlYWxsLmNvbSkgLiBWZXJzaW9uOiAwLjYuMSAgLS0+DTwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DTxzdmcgaWQ9IlVudGl0bGVkLVBhZ2UlMjAxIiB2aWV3Qm94PSIwIDAgNiA2IiBzdHlsZT0iYmFja2dyb3VuZC1jb2xvcjojZmZmZmZmMDAiIHZlcnNpb249IjEuMSINCXhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiDQl4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjZweCIgaGVpZ2h0PSI2cHgiDT4NCTxnIG9wYWNpdHk9IjAuMzAyIj4NCQk8cGF0aCBkPSJNIDYgNiBMIDAgNiBMIDAgNC4yIEwgNCA0LjIgTCA0LjIgNC4yIEwgNC4yIDAgTCA2IDAgTCA2IDYgTCA2IDYgWiIgZmlsbD0iIzAwMDAwMCIvPg0JPC9nPg08L3N2Zz4=');
     background-position: top left;
     background-repeat: no-repeat;
     cursor: se-resize;
     z-index: 20;
 }

 .gs-resize-handle-x {
     top: 0;
     bottom: 13px;
     right: -5px;
     width: 10px;
     cursor: e-resize;
 }

 .gs-resize-handle-y {
     left: 0;
     right: 13px;
     bottom: -5px;
     height: 10px;
     cursor: s-resize;
 }

 .gs-w:hover .gs-resize-handle,
 .resizing .gs-resize-handle {
     opacity: 1;
 }

 .gs-resize-handle,
 .gs-w.dragging .gs-resize-handle {
     opacity: 0;
 }

 .gs-resize-disabled .gs-resize-handle {
     display: none!important;
 }

 [data-max-sizex="1"] .gs-resize-handle-x,
 [data-max-sizey="1"] .gs-resize-handle-y,
 [data-max-sizey="1"][data-max-sizex="1"] .gs-resize-handle {
     display: none !important;
 }
