<!DOCTYPE html>
<html lang="en" ng-app="mera">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--TODO: set theme color-->
    <meta name="theme-color" content="#49494C">
    <base href="/">
    <title>New Tab | mera</title>
    <link async href="components/angular-material/angular-material.min.css" rel="stylesheet">
    <link async href="dist/sass/out.css" rel="stylesheet">
    <link async href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body ng-controller="baseCtrl" ng-cloak 
    layout="column">

    <!-- loading screen -->
    <div class="mera-loading" 
        ng-animate-children>
        <div id="loading-content"
            flex layout-align="center center">
            <md-progress-circular class="md-primary"
                md-mode="indeterminate" md-diameter="150px"></md-progress-circular>
        </div>
    </div>
    <!-- end loading screen -->

    <main id="page-content" 
        layout-fill>
        <md-sidenav class="md-sidenav-left"
            md-component-id="menu"
            layout-padding>
            <header>
                <md-button class="md-icon-button" aria-label="Toggle menu"
                    ng-click="toggleNav()">
                    <i class="material-icons">menu</i>
                </md-button>
            </header>
            <md-content>
                <ul id="mera-sidenav">
                    <li class="header">
                        <h2>widgets</h2>
                    </li>
                </ul>
            </md-content>
        </md-sidenav>
        <md-toolbar layout-padding>
            <md-button class="md-icon-button" aria-label="Toggle menu"
                ng-click="toggleNav()">
                <i class="material-icons">menu</i>
            </md-button>
        </md-toolbar>
        <md-grid-list>
            <md-grid-tile ng-repeat="mw in meraWidgets"
                md-colspan-xs="1" md-colspan-gt-xs="{{mw.colspan}}"
                md-rowspan="{{mw.rowspan}}">
                <mera-widget data="{{mw}}"></mera-widget>
            </md-grid-tile>
        </md-grid-list>
    </main>

    <footer layout="row" layout-sm="column"></footer>

    <script src="components/angular/angular.js"></script>
    <script src="components/angular-animate/angular-animate.min.js"></script>
    <script src="components/angular-aria/angular-aria.min.js"></script>
    <script src="components/angular-material/angular-material.min.js"></script>
    <script src="components/color-thief/dist/color-thief.min.js"></script>
    <script src="dist/ts/out.js"></script>
</body>

</html>