<!DOCTYPE html>
<html lang="en" ng-app="mera">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--TODO: set theme color-->
    <meta name="theme-color" content="#49494C">
    <base href="/">
    <title>New Tab | mera</title>
    <link async href="components/angular-material/angular-material.min.css" rel="stylesheet">
    <link async href="dist/css/out.css" rel="stylesheet">
    <link async rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster" />
    <link async href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body ng-controller="baseCtrl" ng-cloak 
    layout="column">

    <!-- loading screen -->
    <!--<script>
        setTimeout(() => {
            console.log('here!');
            var html = document.getElementsByTagName('html')[0];
            html.setAttribute('ng-app', 'mera');
            angular.bootstrap(html, ['mera']);
        }, 3000);
    </script>-->
    <div class="mera-loading">
        <div id="loading-content"
            flex layout-align="center center" layout="column">
            <h2>mera</h2>
            <div id="loading-diamond">
                <div class="part-1 cube"></div>
                <div class="part-2 cube"></div>
                <div class="part-4 cube"></div>
                <div class="part-3 cube"></div>
            </div>
        </div>
    </div>
    <!-- end loading screen -->

    <!-- dashboard -->
    <main id="page-content" 
        mera-bg data-wallpaper="{{settings.wallpaper}}"
        layout-fill>
        <div class="container">
            <div id="mera-wallpaper">
                <md-button class="md-primary"
                    ng-click="changeWallpaper($event)"
                    aria-label="Change wallpaper">change wallpaper</md-button>
            </div>
            <md-grid-list>
                <md-grid-tile ng-repeat="mw in meraWidgets">
                    {{mw}}
                    <mera-widget data="mw"></mera-widget>
                </md-grid-tile>
            </md-grid-list>
            <section id="mera-tray">
                <md-fab-toolbar md-direction="left">
                    <md-fab-trigger>
                        <md-button aria-label="Edit dashboard"
                            class="md-fab md-primary">
                            <i class="material-icons">mode_edit</i>
                        </md-button>
                    </md-fab-trigger>
                    <md-toolbar>
                        <h3>available widgets</h3>
                        <md-fab-actions class="md-toolbar-tools">
                            <mera-widget-tile ng-repeat="widget in availableWidgets"
                                data="widget"></mera-widget-tile>
                        </md-fab-actions>
                    </md-toolbar>
                </md-fab-toolbar>
            </section>
        </div>
    </main>
    <!-- end dashboard -->

    <script src="components/angular/angular.js"></script>
    <script src="components/angular-animate/angular-animate.min.js"></script>
    <script src="components/angular-aria/angular-aria.min.js"></script>
    <script src="components/angular-material/angular-material.min.js"></script>
    <script src="components/color-thief/dist/color-thief.min.js"></script>
    <script src="dist/js/templates.js"></script>
    <script src="dist/js/out.js"></script>
</body>

</html>