.container {
    
}

#mera-wallpaper {
    float: right;
    margin-top: 20px;
    > .md-button {
        opacity: .2;
        @include transition(opacity .3s linear);
        &:hover { opacity: 1 }
    }
}
