// colors (TODO)
$dark-gray: #212121;
$light-gray: #757575;
$tinted-white: #f1f1f1;
$pink: #e76e7e;
$accent-hue-1: #875CA0;
$accent-hue-2: #459ED2;
$dark-blue: #535C6D;
$blue-gray: #2E3242;

// content spacing
$content-spacing-top: 50px;
$content-spacing-top-sm: 20px;
$content-spacing-bottom: 60px;
$content-spacing-bottom-sm: 40px;

// box shadows
$hover-box-shadow: 0 4px 4px rgba(0,0,0,0.24),0px 0 4px rgba(0,0,0,0.12),0px 6px 18px rgba(2,98,194,0.12);
$default-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.4);

// breakpoint map
$breakpoints: (
	'small' : 600px,
	'medium': 960px,
	'large' : 1200px
);
