<md-dialog id="change-wallpaper" 
    aria-label="Change wallpaper" ng-cloak>
    <md-dialog-content>
        <md-radio-group ng-model="wallpaper">
            <md-radio-button
                value="mera-wall-1.png" aria-label="low poly 1">
                <img src="images/mera-wall-1.png">
            </md-radio-button>
            <md-radio-button
                value="mera-wall-2.jpg" aria-label="low poly 2">
                <img src="images/mera-wall-2.jpg">
            </md-radio-button>
        </md-radio-group>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="confirm()" aria-label="confirm">Confirm</md-button>
        <md-button ng-click="closeDialog()" aria-label="cancel">Cancel</md-button>
    </md-dialog-actions>
</md-dialog>